<nav class="navbar fixed-top navbar-light bg-light kec-header">
    <div class="navbar-brand kec-header" href="#">
      <img src="../../assets/images/logo.png" class="d-inline-block align-top kec-logo" alt="">
      Kapagam College Of Engineering, Coimbatore.
    </div>
  </nav>