.navbar{
  border-radius: 0;
  position: fixed;
}
.navbar .navbar-brand.kec-header {
  position: relative;
  width: 100%;
  color: #B6661D;
  font-size: 30px;
}
.kec-logo{
  position: relative;
    top: -15px;
    width: 40px;
    height: 40px;
    left: -15px;
}