<nav class="navbar navbar-dark bg-dark navbar-fixed-bottom kec-footer">
    <div class="navbar-brand kec-footer-content" href="#">
        <div>Developed by: Manoj Kumar Subburaj</div>
        <div>Contact information: <a href="mailto:mano.constain@gmail.com">
        mano.constain@gmail.com</a></div>
    </div>
  </nav>